{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="jumbotron text-center">
                <h1 class="display-4"><b>Learn to Google!</b></h1>
                <p class="lead">
                    <form>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="form-label-group">
                                    <input
                                        type="text"
                                        id="searchField"
                                        class="form-control"
                                        placeholder="Try out your search!"
                                        style="font: black;"
                                        autofocus
                                    />
                                </div>
                                <!-- <input class="form-control text-center" type="text" placeholder="Try out your search!" aria-label="Search"> -->
                                <div class="row pt-3">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <button class="btn btn-lg btn-google btn-block" name="search">Google Search</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-lg btn-facebook btn-block" name="lucky">Random Fact</button>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </form>
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>Learn to Google is a website that is designed to get you better at googling!</h4>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row pt-5">
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a0oa3Qiz5tw" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-8">
            <p class="text-center">
                <b>Learn to Google Tip 1!</b>
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non lectus malesuada, vulputate neque vel, vestibulum odio. Fusce mollis eros id sem congue, ac pharetra ante ullamcorper. Donec lobortis feugiat tortor sed sollicitudin. Phasellus lobortis, tortor in sagittis placerat, mi diam semper dui, sed pellentesque libero nisi at nulla. Ut tempor sed libero et rhoncus. Mauris interdum nunc vitae eleifend malesuada. Etiam aliquet magna sed tempor malesuada. Proin et efficitur ipsum. Aenean in odio et tellus feugiat elementum eget non enim. Quisque tristique ac orci vitae posuere.
            </p>
        </div>
    </div>

    <hr>
    
    <div class="row pt-5">
        <div class="col-md-8">
            <p class="text-center">
                <b>Learn to Google Tip 2!</b>
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non lectus malesuada, vulputate neque vel, vestibulum odio. Fusce mollis eros id sem congue, ac pharetra ante ullamcorper. Donec lobortis feugiat tortor sed sollicitudin. Phasellus lobortis, tortor in sagittis placerat, mi diam semper dui, sed pellentesque libero nisi at nulla. Ut tempor sed libero et rhoncus. Mauris interdum nunc vitae eleifend malesuada. Etiam aliquet magna sed tempor malesuada. Proin et efficitur ipsum. Aenean in odio et tellus feugiat elementum eget non enim. Quisque tristique ac orci vitae posuere.
            </p>
        </div>
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a0oa3Qiz5tw" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <hr>

    <div class="row pt-5">
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a0oa3Qiz5tw" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-8">
            <p class="text-center">
                <b>Learn to Google Tip 3!</b>
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non lectus malesuada, vulputate neque vel, vestibulum odio. Fusce mollis eros id sem congue, ac pharetra ante ullamcorper. Donec lobortis feugiat tortor sed sollicitudin. Phasellus lobortis, tortor in sagittis placerat, mi diam semper dui, sed pellentesque libero nisi at nulla. Ut tempor sed libero et rhoncus. Mauris interdum nunc vitae eleifend malesuada. Etiam aliquet magna sed tempor malesuada. Proin et efficitur ipsum. Aenean in odio et tellus feugiat elementum eget non enim. Quisque tristique ac orci vitae posuere.
            </p>
        </div>
    </div>

    <hr>

    <div class="row pt-5">
        <div class="col-md-8">
            <p class="text-center">
                <b>Learn to Google Tip 4!</b>
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non lectus malesuada, vulputate neque vel, vestibulum odio. Fusce mollis eros id sem congue, ac pharetra ante ullamcorper. Donec lobortis feugiat tortor sed sollicitudin. Phasellus lobortis, tortor in sagittis placerat, mi diam semper dui, sed pellentesque libero nisi at nulla. Ut tempor sed libero et rhoncus. Mauris interdum nunc vitae eleifend malesuada. Etiam aliquet magna sed tempor malesuada. Proin et efficitur ipsum. Aenean in odio et tellus feugiat elementum eget non enim. Quisque tristique ac orci vitae posuere.
            </p>
        </div>
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a0oa3Qiz5tw" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
