{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="jumbotron text-center">
                <h1 class="display-4">Learn to Google!</h1>
                <p class="lead">
                    <form>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <input class="form-control text-center" type="text" placeholder="Test your search!" aria-label="Search">
                                <div class="row pt-3">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <button class="btn btn-primary" name="search">Google Search</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-primary btn-md" name="lucky">Im Feeling Lucky</button>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </form>
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>Learn to Google is a website that is designed to get you better at googling!</h4>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row pt-5">
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit semper pellentesque. Aliquam luctus dapibus leo, id ullamcorper odio maximus posuere. Nunc tristique quis lacus a fermentum. Donec eu fermentum nulla, sit amet maximus lorem. Vivamus quis fringilla ligula. Duis iaculis augue erat, sed varius tellus vehicula maximus. Aliquam erat volutpat. Quisque blandit orci in ante vestibulum, et porta nibh suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eu faucibus quam. Fusce et congue velit, eget consectetur massa. Nam condimentum odio ac elit laoreet ullamcorper tempor eget tellus. Etiam ut justo porttitor, pharetra.
            </p>
        </div>
    </div>

    <hr>
    
    <div class="row pt-5">
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit semper pellentesque. Aliquam luctus dapibus leo, id ullamcorper odio maximus posuere. Nunc tristique quis lacus a fermentum. Donec eu fermentum nulla, sit amet maximus lorem. Vivamus quis fringilla ligula. Duis iaculis augue erat, sed varius tellus vehicula maximus. Aliquam erat volutpat. Quisque blandit orci in ante vestibulum, et porta nibh suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eu faucibus quam. Fusce et congue velit, eget consectetur massa. Nam condimentum odio ac elit laoreet ullamcorper tempor eget tellus. Etiam ut justo porttitor, pharetra.
            </p>
        </div>
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <hr>

    <div class="row pt-5">
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit semper pellentesque. Aliquam luctus dapibus leo, id ullamcorper odio maximus posuere. Nunc tristique quis lacus a fermentum. Donec eu fermentum nulla, sit amet maximus lorem. Vivamus quis fringilla ligula. Duis iaculis augue erat, sed varius tellus vehicula maximus. Aliquam erat volutpat. Quisque blandit orci in ante vestibulum, et porta nibh suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eu faucibus quam. Fusce et congue velit, eget consectetur massa. Nam condimentum odio ac elit laoreet ullamcorper tempor eget tellus. Etiam ut justo porttitor, pharetra.
            </p>
        </div>
    </div>

    <hr>

    <div class="row pt-5">
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit semper pellentesque. Aliquam luctus dapibus leo, id ullamcorper odio maximus posuere. Nunc tristique quis lacus a fermentum. Donec eu fermentum nulla, sit amet maximus lorem. Vivamus quis fringilla ligula. Duis iaculis augue erat, sed varius tellus vehicula maximus. Aliquam erat volutpat. Quisque blandit orci in ante vestibulum, et porta nibh suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eu faucibus quam. Fusce et congue velit, eget consectetur massa. Nam condimentum odio ac elit laoreet ullamcorper tempor eget tellus. Etiam ut justo porttitor, pharetra.
            </p>
        </div>
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
